html {
  height: 100%;
  color: white;
}

body {
  background-image: url(/assets/images/background2.jpg);
  background-size: cover;
  font-family: 'Noto Serif', serif;
  text-decoration: none;
  color: rgb(98.0, 103.0, 80.0);
  text-shadow: 0.2px 0.2px #817e7e;
}

button {
  margin-right: 8px;
}

a {
  color: rgb(98.0, 103.0, 80.0);
}

.hero {
  background-color: rgba(54, 52, 52, 0.568);
  color: white;
  padding: 55px;
  width: 70%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-custom {
  background-color: rgb(236, 240, 245);
  color: rgb(98.0, 103.0, 80.0);
}






